<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TOP</title>
	</head>
	<body>
	    <a href="/new"><button type="button">新規投稿</button></a>
	    <form method="post" action="/">
	       日付：<input type="date" name="start" th:value="${start}"> ～ <input type="date" name="end" th:value="${end}"> <input type="submit" value="絞り込み"><a href="./"><button type="button">リセット</button></a>
	    </form>
	    <table border="1">
	        <tr>
	            <th>ID</th>
	            <th>内容</th>
	            <th colspan=3></th>
	            <th>コメント</th>
	        </tr>
	        <tr th:each="content : ${contents}">
	            <td th:text="${content.id}">
	            <td th:text="${content.content}">
	            <td>
		            <form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
		               <input type="submit" value="削除"/>
		            </form>
		        </td>
		        <td>
		            <a th:href="@{/edit/{id}(id=${content.id})}"><button type="button">編集</button></a>
                </td>
                <td>
                    <a th:href="@{/comments/new/{id}(id=${content.id})}"><button type="button">返信</button></a>
                <td>
	                <div th:each="comment : ${content.getComments()}">
                       <span th:text="${comment.text}"></span>
                       <form th:method="delete" th:action="@{/comments/delete/{id}(id=${comment.id})}">
                             <input type="submit" value="削除"/>
                          </form>
                       <a th:href="@{/comments/edit/{id}(id=${comment.id})}"><button type="button">編集</button></a>
	                </div>
                </td>
	        </tr>
	    </table>
	</body>
</html>